.root {
  padding: 0;
}

.light {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.dark {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.default {
  min-width: 25px;
}

.active {
  background-color: greenyellow;
  color: black;
}

.default:hover,
.active:hover {
  background-color: aqua;
}

.padding5 {
  padding: 5px;
}
